{% for h in f %}

{{h.ref}}
{{h.Titre}}
{{h.Description}}
{{h.date_debut}}
{{h.date_fin}}
{{h.nb_participants}}

<br>

{% endfor %}

<hr>
{# 3 #}
{% for h in f %}


{{h.Titre|upper}}


<br>

{% endfor %}

{# 4 #}
<hr>
le nombre des formations : {{f|length()}}

{# 5 #}
<hr>

{% for h in f %}
{% if h.Description ends with 'theorique'  %}
{{h.Titre}}
<br>
{% endif %}
{% endfor %}


{# 6 #}
<hr>

{%set max=0 %}
{% for h in f %}
{% if h.nb_participants>max %}
{%set max=h.nb_participants %}
{% if max==h.nb_participants %}
{{h.Titre}}
{% endif %}
{% endif %}
{% endfor %}

{# 7 #}
<hr>

{%set nb=0 %}
{% for h in f %}

{%set nb=nb+h.nb_participants %}

{% endfor %}
{{nb}}

{# 8 #}
<hr>
{% if f is empty %}
empty
{%else%}
not empty
{% endif %}

{# 9 #}
<hr>
{% for h in f %}
<br>
{{h.ref}}
{{h.Titre}}
{{h.Description}}
{{h.date_debut}}
{{h.date_fin}}
{{h.nb_participants}}
{% if h.nb_participants==0 %}
<input type="submit" value="participer">
<a href="{{path('test',{'t':h.Titre})}}">participer </a>
{% endif %}
{% endfor %}
